header{
    background-image: url(https://as2.ftcdn.net/v2/jpg/02/15/65/03/1000_F_215650330_RBqxe8OOPSSeiuJyTbbU4dmFELsPekNv.jpg);
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    background-size: cover;
    background-position: end;
    opacity: 0;
    animation: headerAnime 0.5s var(--delay) linear 1 forwards;
    transform: translateX(-50%);

}
@keyframes headerAnime {
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
header{
    --delay:1s;
}
header img{
    background-blend-mode: lighten;
    width: 500px;
    height: 500px;
    margin: 10px 10px 10px 20px;
}
header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #0d7754;
    gap: 150px;
    padding: 10px 20px;
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    width: 100%;
}
body{
    position: relative;
    z-index: 0;
}
ul li{
    position: relative;
    font-family: sans-serif;
}
.dropdown{
    position: relative;
    width: max-content;
}

.dropdown-btn{
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin: 5px 40px 0px 10px;       
    text-decoration: none;
    color: #0a4944;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #f9f9f9;
    z-index: 1000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    margin-top: 10px;
}

.dropdown-content li{
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content li:hover{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-btn{
    background-color: transparent;
}
.dropdown i:hover{
    color: #fff;
}
.dropdown-btn h3 a{
    text-decoration: none;
    color: #0a4944;
}
.services{
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: serviceContent 0.5s var(--delay) linear 1 forwards;
    transform: translateY(50%);
}
@keyframes serviceContent {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.services{
    --delay:1.4s;
}
.service{
    border: 1px solid #fff;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    width: 350px;
    height: 300px;
    margin: -120px auto 20px auto;
    border-radius: 15px;
    background-color: #fff;
    padding: auto;
}
.service i{
    margin: 20px 130px;
    color: #18ac7a;
}
.service h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #18ac7a;
}
.service h6{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #020101;
}
.service:hover{
    background-color: #45ca9e;
    transform: scale(1.1);
    color: #5AE9B9;
    border: #5AE9B9;
}
.service:hover i{
    color: white;
}
.service:hover h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.service:hover h6{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.carousel {
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.carousel .list {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel .list .item {
    min-width: 100%;
    height: 100vh;
    position: relative;
    --delay : 1s;
}
.carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: #45ca9e;
    text-align: center;
    padding-right: 30%;
}
.carousel .list .item .content .author {
    font-weight: bold;
    letter-spacing: 5px;
}
.carousel .list .item .content .title {
    font-weight: bold;
    font-size: 5em;
    color: #0d7754;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.carousel .list .item .content .buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.carousel .list .item .content button {
    border: 2px solid #0a5a3f;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
    color: black;
}
.carousel .list .item .content button i{
    margin-left: 5px;
    color: #0a5a3f;
}
.carousel .list .item .content button:hover{
    background-color: #0a5a3f;
    color: rgb(255, 254, 254);
}
.carousel .list .item .content button:hover i{
    color: #fff;
}
.carousel .list .item .author,
.carousel .list .item .title,
.carousel .list .item .topic,
.carousel .list .item .buttons {
    filter: blur(20px);
    opacity: 0;
    animation: showcontent 0.5s var(--delay) linear 1 forwards;
    transform: translateY(50px);
}

@keyframes showcontent {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carousel .list .item.active {
    --delay: 1s;
}
.carousel .list .item.active .author {
    --delay: 1.2s;
}
.carousel .list .item.active .title {
    --delay: 1.4s;
}
.carousel .list .item.active .topic {
    --delay: 1.6s;
}
.carousel .list .item.active .buttons {
    --delay: 1.8s;
}


.thumbnail {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 100;
}
.thumbnail .item {
    width: 50%;
    height: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}
.thumbnail .item:hover {
    transform: scale(1.1);
}
.thumbnail .item img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border: 2px solid #0a5a3f;

}
.carousel .list .item.active .content {
    filter: blur(20px);
    opacity: 0;
    animation: fadeInContent 0.5s var(--delay) linear 1 forwards;
}
@keyframes fadeInContent {
    to{
        opacity: 1;
        filter: blur(0);
    }
}
.clients{
    text-align: center;
    margin: 50px auto;
}
.clients h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #18ac7a;
}
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    height: 70%;
    /* opacity: 0;
    animation: clientReview 0.5s var(--delay) linear 1 forwards;
    transform: translateY(50%); */
}
/* @keyframes clientReview {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.slider-container{
    --delay:2.4s;
} */

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: space-between;
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    gap: 50px;
    
}
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 24px;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.card{
    border: 6px solid none;
    width: 400px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    overflow-y: visible;
}
.card img{
    height: 150px;
    width: 200px;
}
.card-text{
    font-size: 20px;
}
.btn{
    background-color: #121414;
    color: #fff;
}
.btn:hover{
    border: 2px solid black;
    background-color: transparent;
    color: #070707;
}
.para{
    border: 2px solid #0a5a3f;
    border-radius: 10px;
    padding: 200px 50px 50px 50px;
    margin: 0px 50px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    background: linear-gradient(
        45deg,
        transparent 33.33%,
        rgba(57, 144, 179, 0.1) 33.33%,
        rgba(0, 0, 0, 0.1) 66.66%,
        transparent 66.66%
      ),
      rgb(17, 211, 179);
        background-size: 20px 20px;
        /* opacity: 0;
        animation: paraPage 0.5s var(--delay) linear 1 forwards;
        transform: translateY(50%); */
}
/* @keyframes paraPage {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.para{
    --delay:1.8s;
} */
.why{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -130px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #fefffe;
    /* opacity: 0;
    animation: whyPage 0.5s var(--delay) linear 1 forwards;
    transform: translateY(50%); */
}
/* @keyframes whyPage {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.why{
    --delay: 3s;
} */
.why h2{
    text-align: center;
    color: #23aa7d;
}
.why h2 i{
    margin-left: 10px;
}
.why .fa-lightbulb{
    margin: 0px 0px 10px 150px;
    color: #23aa7d;
}
.why .fa-users{
    margin: 0px 0px 10px 150px;
    color: #23aa7d;
}
.ourservices{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 50px 50px 10px 45px;
    gap: 30px;
}
.subject{
    width: 400px;
    height: 100px;
    background-color: #fff;
    border: 1px solid rgb(247, 244, 244);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    place-content: center;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    cursor: pointer;
}
.subject h4{
    text-align: center;
    color: #0a4944;
    margin: auto auto auto 20px;
    font-family: 'Times New Roman', Times, serif;
}
.service-area h2{
    text-align: center;
    color: #18ac7a;
    margin: 60px auto;
}
.subject .fa-globe{
    margin: 35px 10px 35px 20px;
    color: #0a4944;
    display: none;
}
.subject .fa-arrow-right{
    margin: 35px 30px 35px 20px;
    color: #0a4944;
}
.subject:hover{
    background-color: #18bdaf;
    transform: scale(1.1);
}
.subject:hover h4{
    color: #fff;
}
.subject:hover  .fa-globe{
    display: block;
    color: #fff;
}
.subject:hover .fa-arrow-right{
    color: #fff;
}
.ourclients{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: center;
    margin-top: 100px;
    gap: 50px;
}
.clientLogo{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(11, 155, 131);
}

.clientLogo:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.clientLogo .amazon{
    width:150px;
    height: 80px;
    margin: 60px 20px;
}

.clientLogo .MRF{
    width:150px;
    height: 100px;
    margin: 50px 20px;
}

.Testimonial {
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.Testimonial .test {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.Testimonial .test .test-item {
    min-width: 100%;
    height: 100vh;
    position: relative;
}
.thumbnail-test {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 100;
}
.thumbnail-test .test-item {
    width: 50%;
    height: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}
.carousel-ind h2{
    text-align: center;
    margin: 80px auto 0px auto;
    color: #18ac7a;
}
.carousel-ind p{
    text-align: center;
    margin: -30px auto ;
    color: #101111;
}
.carousel-ind {
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 10px auto 0px auto;
  }
  
  .ind-slider {
    display: flex;
    width: 100%; 
    overflow-x: scroll;
    margin-top: 50px;
    justify-content: space-around;
    gap: 30px;
    margin-left: auto;
    padding-bottom: 20px;
  }
  
  .ind-slide {
    height: 430px;
    width: 350px;
    flex-shrink: 0;
    border: 2px solid #1ec7b9;
    background-color: #93e2dc;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    scroll-snap-align: start;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    justify-content: center
  }
  .ind-slider::-webkit-scrollbar {
    display: none; 
  }
  .carousel-dots {
    display: flex;
    gap: 8px;
    margin-top: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #333;
  }
  .ind-slide .img{
    width: 350px;
    height: 250px;
    border-bottom-right-radius: 50%;
  }
  .ind-slide p{
    margin: 10px 50px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .ind-slide a{
    color: #333;
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 100px -10px 100px;
    margin-bottom: -30px;
  }
  .ind-slide a .fa-solid{
    margin: 5px;
  }